<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Blank</title>

  <!-- Custom fonts for this template-->
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <!-- Custom styles for this template-->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link href="style.css" rel="stylesheet">
  <link href="normalize.css" rel="stylesheet">
</head>

<body id="page-top">
  <!-- begin navbar -->
  <nav class="navbar" id="navbar">
    <a href="#">
      <img class="logo-img" src="infoda_logo.jpg" alt="Logo" />
    </a>
    <ul id="navList">
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#" class="nav-btn login">Login</a></li>
      <li><a href="#" class="nav-btn sign-up">Sign Up</a></li>
    </ul>
    <i class="fa-solid fa-bars-staggered bars-icon" aria-label="open main menu"></i>
  </nav>
  <!-- end navbar -->
  <!-- begin main content including sidebar-->
  <main class='main'>
    <!-- sidebar -->
    <aside class="sidebar">
      <div class="sidebar-content">
        <a href="#" class="company">
          <h5 id="company-name">INFODA</h5>
        </a>
        <ul class="sidebar-list">
          <a href="#" class="active">
            <h6 class="sidebar-header">
              <i class="fa-solid fa-gauge-high"></i> Dashboard
            </h6>
          </a>
          <details>
            <summary>
              <h6 class="sidebar-header collapsable">
                <i class="fa-solid fa-eye"></i> Interface
              </h6>
            </summary>
            <ul>
              <li><a href="#">Components</a></li>
              <li><a href="#">Items</a></li>
              <li><a href="#">Cards</a></li>
              <li><a href="#">Buttons</a></li>
            </ul>
          </details>
          <details>
            <summary>
              <h6 class="sidebar-header collapsable">
                <i class="fas fa-fw fa-wrench"></i>
                Utilities
              </h6>
            </summary>
            <ul>
              <li><a href="#">Colors</a></li>
              <li><a href="#">Borders</a></li>
              <li><a href="#">Animations</a></li>
              <li><a href="#">Other</a></li>
            </ul>
          </details>
        </ul>
      </div>
      <i aria-label="close secondary menu" id="closeSidebar" class="close-icon fa-solid fa-circle-chevron-left"></i>
      <i aria-label="open secondary menu" id="openSidebar" class="close-icon fa-solid fa-circle-chevron-right"></i>
    </aside>
    <!-- end of sidebar-->
    <!-- page content -->
    <article class="main-content">
      <!-- Begin Page Content -->
      <div class="main-col" id="audio-col">
        <section class="call-info">
          <span id="type-of-call"></span>
          <!-- call id from server -->
          <span id="call-id">Lorem, ipsum dolor sit amet {{Media}}/{{conv.ch1}}</span>
          <span id="copy-button"><i class="fa-regular fa-copy"></i></span>
          <h2>Client's Activity</h2>
          <!-- time of call -->
          <p>Recorded on May 12, 2022. 09:04 a.m.</p>
        </section>
        <div id="audio-col">
          <section class="audio-player" loading="lazy">
            <div id="waveform"></div>
            <div class="analysis-emojis"></div>
          </section>
        </div>
        <details class="section-details summary-details">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid
            labore, consectetur culpa autem dignissimos veritatis optio veniam
            sequi voluptas error quos obcaecati expedita fugit ducimus aliquam
            modi adipisci rerum accusantium!</p>
          <summary>
            <!-- <i class="fa-solid fa-file-zipper"></i> -->
            <h3 class="main-header">Call Summary</h3>
          </summary>
        </details>
        <details class="section-details">
          <section class="call-activity">
            <div class="row">
              <div class="col">
                <p>
                  <span class="category-title">Direction: </span><span class="category-value">Inbound</span>
                </p>
                <p>
                  <span class="category-title">Family: </span><span class="category-value">Emerald</span>
                </p>
                <p>
                  <span class="category-title">Type: </span><span class="category-value">Balance Dispute</span>
                </p>
                <p>
                  <span class="category-title">Reason: </span><span class="category-value">lorem ipsum
                    jjjkjdsf</span>
                </p>
                <p>
                  <span class="category-title">Customer MSISDN: </span><span class="category-value">16566111451</span>
                </p>
                <p>
                  <span class="category-title">Agent NT Account: </span><span class="category-value">1551656</span>
                </p>
              </div>
              <div class="col">
                <p>
                  <span class="category-title">Date: </span><span class="category-value">15 Sep 2020</span>
                </p>
                <p>
                  <span class="category-title">Time: </span><span class="category-value">10:45 a.m.</span>
                </p>
                <p>
                  <span class="category-title">Duration: </span><span class="category-value">2 min</span>
                </p>
                <p>
                  <span class="category-title">Top Keywords: </span><span class="category-value">Annoyed</span>
                </p>
                <p>
                  <span class="category-title">CSAT: </span><span class="category-value">Meh</span>
                </p>
              </div>
            </div>
          </section>

          <summary class="summary-header">
            <h3 class="main-header">Call Activity</h3>
          </summary>
        </details>
        <details class="section-details">
          <summary>
            <h3 class="main-header">Evaluation</h3>
          </summary>
          <section class="evaluation">
            <div class="row">
              <h4>Policy Knowledge <span id="score">22/50 50%</span></h4>

              <button id="download-button">
                <i class="fa-solid fa-download"></i> Download
              </button>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex quasi
              voluptate libero numquam
            </p>
            <section class="evaluation-details">
              <div class="details-section">
                <h5>
                  Section 1 - Introduction <span class="pts">22/50 pts</span>
                </h5>
                <p class="question">1 - The agent identified themselves to the customer</p>
                <h6 class="answer">No <span class="pts answer-pts">2 pts</span></h6>
                <p class="question">2 - The agent identified themselves to the customer</p>
                <h6 class="answer">No <span class="pts answer-pts">4 pts</span></h6>
                <p class="question">3 - The agent identified themselves to the customer</p>
                <h6 class="answer">No <span class="pts answer-pts">5 pts</span></h6>
              </div>
            </section>
          </section>
        </details>

      </div>
      <div class="main-col">
        <details class="section-details">
          <summary>
            <h3 class="main-header">Transcription</h3>
          </summary>
          <div>
            <div class="overall">
              <h4>Overall Sentiment</h4>
              <div class="sentiment-emojis">
                <span class="sentiment-emoji sentiment-emoji-positive"><i class="fa-regular fa-face-smile"></i></span>
                <span class="sentiment-emoji sentiment-emoji-neutral"><i class="fa-regular fa-face-meh"></i></span>
                <span class="sentiment-emoji sentiment-emoji-negative"><i class="fa-regular fa-face-frown"></i></span>
              </div>
            </div>
            <div class="search-transcription">
              <input type="text" placeholder="Search Transcription" id="searchInput" />
              <button class="search-button">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </div>
            <section class="transcription-section">
              {% for category in res_messages %}
              {% if category.channel == '2' %}
              <div class="agent-transcription">
                <div>
                  <p class="info">Agent {{category.start}}</p>
                  <p></p>
                </div>
                <div class="message-section">
                  <!-- positive message -->
                  {% if category.sentance_analysis.sent_ana == 'positive' %}
                  <div class="message positive">
                    {{category.message}}
                  </div>
                  {% elif category.sentance_analysis.sent_ana == 'negative' %}
                  <div class="message negative">
                    {{category.message}}
                  </div>
                  {% else %}
                  <div class="message">
                    {{category.message}}
                  </div>
                  {% endif %}
                  <div class="image">
                    <img src="{% static 'images/agent1.png' %}" />
                  </div>
                </div>
              </div>
              {% else %}
              <div class="customer-transcription">
                <div>
                  <p class="info">Client {{category.start}}</p>
                  <p></p>
                </div>
                <div class="message-section">
                  <div class="image">
                    <img src="{% static 'images/user.png' %}" />
                  </div>
                  <!-- positive message -->
                  {% if category.sentance_analysis.sent_ana == 'positive' %}
                  <div class="message positive">
                    {{category.message}}
                  </div>
                  {% elif category.sentance_analysis.sent_ana == 'negative' %}
                  <div class="message negative">
                    {{category.message}}
                  </div>
                  {% else %}
                  <div class="message">
                    {{category.message}}
                  </div>
                  {% endif %}
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </section>
          </div>
        </details>
      </div>
    </article>
  </main>
  <footer class="footer">
    <p>Copyright &copy; INFODA Smart Solution</p>
  </footer>
  <!-- Scroll to Top Button-->
  <button onclick="topFunction()" title="go to top" class="scroll-to-top">
    <i class="fas fa-angle-up"></i>
  </button>

  <!-- wavesurfer -->
  <script src="wavesurfer.js"></script>
  <!-- papaparse library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.4.1/papaparse.min.js"
    integrity="sha512-dfX5uYVXzyU8+KHqj8bjo7UkOdg18PaOtpa48djpNbZHwExddghZ+ZmzWT06R5v6NSk3ZUfsH6FNEDepLx9hPQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- custom css -->
  <script src="script.js"></script>
</body>

</html>
