:root {
    /* font stuff */
    --font-size-basis: .95rem;
    --type-scale: 1.1;
    --h6: var(--font-size-basis);
    --h5: calc(var(--h6) * var(--type-scale));
    --h4: calc(var(--h5) * var(--type-scale));
    --h3: calc(var(--h4) * var(--type-scale));
    --h2: calc(var(--h3) * var(--type-scale));
    --h1: calc(var(--h2) * var(--type-scale));
    --font-small: calc(0.667rem);
    --font-family: 'Poppins', sans-serif;
    --line-height: 1.5rem;
    /* widths and heights */
    --navbar-height: 3rem;
    --sidebar-width: 17%;
    --first-column-width: 60%;
    /* colors */
    --emoji-red: #ef233c;
    --emoji-green: #00bb83;
    --emoji-yellow: rgb(255, 196, 0);
    --dark-grey: rgb(148, 147, 147);
    --light-grey: lightgrey;
    --lighter-grey: rgb(236, 232, 232);
    --dark-blue: rgb(220, 220, 224);
    --primary-color: #260259;
    --sidebar-color: hsl(220deg 15.79% 96.27%);
    --waveColor: #dec9e9;
    --text-white: #fff;
    --black: #000;
}

.main-header {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-bottom: .2rem;
}

.main-header::after {
    font-family: FontAwesome;
    content: '\f107';
    font-size: 18px;
    margin-left: .5rem;
}

.scroll-to-top {
    display: none;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--primary-color);
    border: 2px solid var(--text-white);
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-white);
}

details summary {
    cursor: pointer;
}

details summary::-webkit-details-marker,
details summary::marker {
    display: none;
    content: "";
}

.navbar {
    background-color: var(--primary-color);
    color: var(--text-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: var(--navbar-height); */
    padding: 1rem 2rem;
}

.navbar a:first-of-type {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.navbar ul {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.navbar ul li {
    position: relative;
}

.navbar ul li a {
    color: var(--text-white);
}

.navbar ul li a:not(.nav-btn):hover::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -7px;
    right: 0;
    background-image: linear-gradient(180deg, rgba(104, 72, 149, 1) 0%, rgba(222, 201, 233, 1) 100%);
}

.navbar .nav-btn {
    border-radius: 5px;
    padding: .3rem 1rem;
    border: 2px solid var(--waveColor);
    transition: all .3s ease;
}

.navbar .nav-btn:hover {
    background-color: var(--waveColor);
}

.navbar .bars-icon {
    display: none;
}

@media (max-width:768px) {
    .navbar {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        padding: .5rem 1rem;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    .navbar .bars-icon {
        display: block;
        cursor: pointer;
    }

    .navbar ul {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    .navbar ul li {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }

    .navbar ul li a {
        text-align: center;
    }


}

.main {
    display: flex;
}

.sidebar {
    display: none;
}

.main-content {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    flex-direction: column;
    width: 100%;
}

.main-content .main-col {
    width: 100%;
}

@media (min-width: 768px) {
    .main-content {
        flex-direction: row;
        gap: 4rem;
        justify-content: space-between;
    }

    .main-content .main-col:first-of-type {
        width: var(--first-column-width);
    }

    .main-content .main-col:last-of-type {
        width: calc(100% - var(--first-column-width));
    }
}

@media (min-width: 992px) {
    .main-content {
        width: calc(100% - var(--sidebar-width))
    }

    .sidebar {
        width: var(--sidebar-width);
        min-height: 100vh;
        background-color: var(--sidebar-color);
        display: block;
        padding: 1rem;
        position: relative;
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
    }

    .sidebar .company {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }



    .sidebar a:not(.active) {
        color: var(--dark-grey);
    }

    .sidebar #company-name {
        color: #000;
    }

    .sidebar a:hover {
        color: var(--primary-color);
    }

    .sidebar .sidebar-list {
        display: flex;
        flex-flow: column nowrap;
        gap: 3rem;
    }

    .sidebar h6 {
        position: relative;
        margin: 0;
        width: 100%;
        display: flex;
        gap: .6rem;
        align-items: center;
    }

    .sidebar h6.collapsable::after {
        font-family: FontAwesome;
        content: '\f107';
        font-size: 10px;
        margin-left: .5rem;
    }

    .sidebar h6::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        bottom: -10px;
        left: 0;
        background-image: linear-gradient(90deg, rgba(104, 72, 149, 1) 0%, rgba(222, 201, 233, 1) 100%);
    }

    .sidebar details ul {
        padding-top: 2rem;
        display: flex;
        flex-flow: column nowrap;
        gap: .5rem;
    }

    .sidebar .close-icon {
        position: absolute;
        right: -7px;
        top: 17rem;
        cursor: pointer;
        font-size: 20px;
        color: var(--primary-color);
    }

    .sidebar #openSidebar {
        display: none;
    }
}

footer {
    background-color: var(--primary-color);
    color: var(--text-white);
    display: flex;
    justify-content: center;
}

.audio-player {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border: 2px solid var(--dark-grey);
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 2rem 0;
}

.call-info {
    color: var(--dark-grey);
}

.call-info h2 {
    color: var(--black);
}

.call-info #type-of-call {
    margin-right: .3rem;
}

.call-info .inbound {
    color: var(--emoji-green);
}

.call-info .inbound i {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    margin-right: .3rem;
}

.call-info .outgoing {
    color: var(--emoji-red);
}

.call-info #copy-button {
    cursor: pointer;
    font-size: 18px;
    margin-left: .3rem;
}

.call-info #copy-button:hover {
    color: var(--primary-color);
}

.audio-player #waveform ::part(wrapper) {
    margin-bottom: 1rem;
    cursor: pointer;
}

.audio-player .icon {
    margin-bottom: 1rem;
}

.audio-player .analysis-emojis {
    padding: 0 5px;
}

.audio-player .analysis-emojis .emoji {
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    top: -10px;
}

.audio-player .analysis-emojis .emoji:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.audio-player .analysis-emojis .timeline-container {
    display: flex;
    gap: .3rem;
    flex-flow: column nowrap;
    margin-bottom: 1rem;
}

.audio-player .analysis-emojis .timeline {
    width: 100%;
    height: 2px;
    background-color: var(--dark-grey);
    position: relative;
    margin-bottom: .5rem;
}

.audio-player .analysis-emojis .emoji.positive {
    color: var(--emoji-green);
}

.audio-player .analysis-emojis .emoji.negative {
    color: var(--emoji-red);
}

.audio-player .analysis-emojis .emoji .slotSpan {
    position: absolute;
    bottom: 0;
    color: #000;
}

.audio-player audio {
    width: 100%;
    height: 45px;
}

.summary-details {
    color: var(--dark-grey);
    box-sizing: border-box;
    cursor: pointer;
    line-height: var(--line-height);
}

.summary-details summary::marker {
    display: none;
}

.call-activity .category-title {
    font-weight: 600;
    color: var(--primary-color);
}

.call-activity .category-value {
    color: var(--dark-grey);
}

.call-activity .row {
    display: flex;
    gap: 1rem;
}

.evaluation h4,
.evaluation h5,
.evaluation h6 {
    font-weight: 600;
    margin: 0;
}

.evaluation .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.evaluation #download-button {
    color: var(--primary-color);
    background-color: transparent;
    border: none;
    font-weight: 500;
    font-size: var(--h4);
}

.evaluation #download-button:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.evaluation #score {
    color: var(--text-white);
    padding: .1rem .5rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.evaluation #score.positive {
    background-color: var(--emoji-green);
}

.evaluation #score.negative {
    background-color: var(--emoji-red);
}

.evaluation #score.neutral {
    background-color: var(--emoji-yellow);
}

.evaluation h4+p {
    color: var(--dark-grey);
}

.evaluation .pts {
    background-color: var(--light-grey);
    color: var(--primary-color);
    padding: .1rem .5rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-weight: 500;
}

.overall {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.overall h4 {
    font-weight: 500;
    margin: 0;
}

.overall .sentiment-emojis {
    display: flex;
    gap: 1rem;
}

.overall .sentiment-emojis .sentiment-emoji {
    font-size: 20px;
    color: var(--dark-grey);
}

.search-transcription {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    border: 1px solid var(--light-grey);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    position: relative;
}

.search-transcription input {
    border: none;
    padding: .5rem;
    /* width: 90%; */
    box-sizing: border-box;
    color: var(--dark-grey);
    background-color: transparent;
    padding-left: 1rem;
}

.search-transcription input:focus {
    outline: none;
}

.search-transcription button {
    background-color: var(--light-grey);
    color: var(--text-white);
    height: 100%;
    border: none;
    padding: .5rem 1rem;
    cursor: pointer;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    right: 0;
    top: 0;
}

.transcription-section {
    padding: 1rem;
    overflow-y: scroll;
    max-height: 100vh;
}

/* style scrollbar */

.transcription-section::-webkit-scrollbar {
    width: 6px;
    background-color: var(--lighter-grey);
    border-radius: 5px;
}

.transcription-section::-webkit-scrollbar-thumb {
    background-color: var(--waveColor);
    border-radius: 5px;
}

@media (min-width: 768px) {
    .transcription-section {
        box-shadow: -5px -0px 5px -5px var(--light-grey);
    }
}

.transcription-section .agent-transcription,
.transcription-section .customer-transcription {
    display: flex;
    flex-direction: column;
}

.transcription-section .agent-transcription {
    align-items: flex-end;
}

.transcription-section .customer-transcription {
    align-items: flex-start;
}

.transcription-section .info {
    color: var(--dark-grey);
}

.transcription-section .message-section {
    display: flex;
    gap: 1rem;
}

.transcription-section .agent-transcription .message-section {
    justify-content: flex-end;
}

.transcription-section .customer-transcription .message-section {
    justify-content: flex-start;
}

.transcription-section .message-section .message {
    max-width: 15rem;
    padding: .5rem 1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-sizing: border-box;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
}

.transcription-section .message.positive::after {
    font-family: 'Font Awesome 5 free';
    content: "\f118";
    font-size: 20px;
    color: var(--emoji-green);
    position: absolute;
    bottom: -.8rem;
    right: -1.5rem;
    font-weight: 900;
}

.transcription-section .message.negative::after {
    font-family: 'Font Awesome 5 free';
    content: "\f119";
    font-size: 20px;
    color: var(--emoji-red);
    position: absolute;
    bottom: -.8rem;
    right: -1.5rem;
    font-weight: 900;
}

.transcription-section .agent-transcription .message {
    background-color: var(--lighter-grey);
}

.transcription-section .customer-transcription .message {
    background-color: var(--waveColor);
}

.transcription-section .image img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

html {
    font-size: 100%;
    font-family: var(--font-family);
    line-height: var(--line-height);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

button {
    cursor: pointer;
}

h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

h4 {
    font-size: var(--h4);
}

h5 {
    font-size: var(--h5);
}

h6 {
    font-size: var(--h6);
}

p {
    font-size: var(--font-size-basis);
}

::-moz-selection {
    background-color: var(--primary-color);
    color: var(--text-white);
}

::selection {
    background-color: var(--primary-color);
    color: var(--text-white);
}